<div class="summary-bar">
    {% set counts = {} %}
    {% for p in projects %}
        {% set _ = counts.update({p.status: counts.get(p.status,0)+1}) %}
    {% endfor %}

    {% for k,v in counts.items() %}
        <!--<span class="summary-item {{ k|lower|replace(' ','-') }}">
            {{ k }} {{ v }}
        </span>-->
        <span class="summary-item
        {% set avg = (projects | selectattr('status','equalto',k) | map(attribute='percentage') | list) %}
        {% set pct = (avg | sum / (avg|length)) if avg|length > 0 else 0 %}
        {% if pct <= 44 %}
            at-risk
        {% elif pct <= 59 %}
            in-progress
        {% else %}
            achieved
        {% endif %}
        ">
            {{ k }} {{ v }}
        </span>
    {% endfor %}
</div>

<div class="org-summary-chart">

    <div class="org-summary-wrapper">

        <!-- LEFT : Automated -->
        <div class="org-summary-side left">
            <div class="org-info-label">Automated TCs</div>
            <div class="org-info-value">{{ org_summary.automated_tcs }}</div>
        </div>

        <!-- CENTER : CHART -->
        <div class="org-chart-wrapper">
            <canvas id="orgSummaryChart"></canvas>

            <div class="org-chart-label">
                <div class="org-chart-value">
                    {{ org_summary.automation_percent }}%
                </div>
                <div class="org-chart-title">
                    Automation Coverage
                </div>
            </div>
        </div>

        <!-- RIGHT : TOTAL -->
        <div class="org-summary-side right">
            <div class="org-info-label">Total TCs</div>
            <div class="org-info-value">{{ org_summary.total_tcs }}</div>
        </div>

    </div>

</div>